/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 250px; 
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -250px;
    background-color:var(--main); 
    border: 3px solid var(--secondary);
    border-radius: 0 5px 5px 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }

  #sidenav-tab {
      position: fixed;
      top: 50px;
      left: 0px;
      border-left-width: 0px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: none;
      transition-duration: 0.5s;
  }
  
  /* The navigation menu links */
  .sidenav a {
    color: var(--secondary);
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: var(--shadow-main);
  }
  