
/* Border box fix*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


/* color variables to experiment with different palettes */

:root {
    --main:#edf2f4;
    --secondary: #2b2d42;
    --shadow-main: #ef233c;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main);
    color: var(--text-secondary);
}

header, footer, #large-nav{
    background-color: var(--secondary);
    border-radius: 5px;
    margin: 10px auto;
    width: 99%;
}
header{
    margin-bottom: 0;
    border-radius: 5px 5px 0 0;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1)
}

#large-nav {
    margin-top: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.1)
}

main {
    margin: auto;
    width: 95%;
}

footer h3 {
    padding: 20px;
    font-size: 15px;
    -webkit-text-fill-color: var(--main);
    -webkit-text-stroke-width: var(--main);
    -webkit-text-stroke-color: var(--main);
    text-shadow: none;
}

img {
    width: 100%;
}
/* headings style */

h1, h2, h3 {
    margin: 5px;
    -webkit-text-fill-color: var(--main);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 2px 2px var(--shadow-main);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    transition-duration: 50ms;
}
h1 {
    font-size: 50px;
}

h2 {
    font-size: 45px;
}
h2.title {
    font-size: 40px;
    margin-bottom: 0;
}
h3 {
    width: 95%;
    margin: 5px auto;
    background-color: var(--secondary);
    border-radius: 5px;
    font-size: 40px;
}
h4,h5 {
    color: var(--secondary);
    font-size: 1.75em;
    margin: 5px auto;
    text-align: center;
}
h5 {
    font-size: 1.5em;
}

section h3 {
    padding: 5px;
}

.hide-on-small {
    display:none;
}

/* flex */

.container{
    display: flex;
    flex-direction: column;
}

#intro .container {
    flex-direction: column-reverse;
}
#nav .container {
    width: 100%;
    flex-direction: row;
    justify-content: left;
}

.item {
    margin: 10px;
    flex: 1;
}
.align-vert {
    align-self: center;
}

p {
    font-size: 18px;
    text-align:center;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color:var(--main);
    border: 3px solid var(--secondary);
    border-radius: 0 5px 5px 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.1s; /* 0.5 second transition effect to slide in the sidenav */
  }


  #sidenav-tab {
      font-size: 20px;
      position: fixed;
      top: 70px;
      left: 0px;
      border-left-width: 0px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      box-shadow: none;
      transition-duration: 0.1s;
  }

  /* The navigation menu links */
  .sidenav a {
    color: var(--secondary);
    margin: 5px;
    padding: 5px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: var(--shadow-main);
  }


/* Section cards */

section {
    background-color: var(--main);
    border: 3px solid var(--secondary);
    box-shadow: 2px 2px var(--shadow-main);
    border-radius: 5px;
    margin: 10px;

}
#projects .container {
    margin: auto;
    width: 90%;
    flex-direction: column;
}

article {
    margin: 10px;
    flex: 1;
}

article img {
    width: 100%;
}

.project a {
    display: block;
    text-align: center;
}


/* Centered list */

ul, ol {
    display: table;
    margin: 10px auto;
}
li {
    margin: 5px;
}
/* Button styles */

    .btn {
        cursor: pointer;
        border: 2px solid var(--secondary);
        background-color: var(--main);
        border-radius: 5px;
        box-shadow: 2px 2px var(--shadow-main);
        padding: 5px;
        transition-duration: 25ms;
    }
    .btn:hover {
        transform: scale(1.01);
    }
    .btn:active {
        box-shadow: 1px 1px var(--shadow-main);
        transform: translate(2px,2px)
    }

/* Link styles */

a {
    display: inline-block;
    color: var(--secondary);
}

a:link{
    color: var(--secondary);
}
a:visited{
    color: var(--shadow-main)
}
a:hover {
    cursor: pointer;
    color:  red;
}
a:active{
    color: black;
}

nav {
    width: 90%;
    margin: auto;
}
nav a{
    margin: 5px;
    text-align: center;
}
hr {
    height: 5px;
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
    border-radius: 5px;
    box-shadow: 2px 2px var(--shadow-main);
    width: 85%;
}

/* accessibility */

.visually-hidden {
    position: absolute;
    left:     -10000px;
    top:      auto;
    width:    1px;
    height:   1px;
    overflow: hidden;
  }

  form {
      margin: auto;
      display: flex;
      flex-direction: column;
  }

  form > * {
      margin: 5px;
  }

  textarea {
      resize: none;
  }

@media all and (min-width: 750px), (orientation: landscape){

    h3 {
        width: 60%;
    }

    hr {
        display: none;
    }

    section {
        scroll-margin-top: 67px;
    }
/* Test */
    .container {
        flex-direction: row;
    }

    nav.container {
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    nav.container a {
        width: 70%;
        margin: 10px auto;
        flex: 1;
    }

    header nav {
        width: 100%;
    }

    #intro .container {
            flex-direction: row;
          }
    #projects .container {
        flex-direction: row;
    }

    main {
        width: 80%;
    }

    .hide-on-small {
        display: inline;
    }
    nav.hide-on-small {
        display: flex;
        padding: 10px;
        background-color: var(--secondary);
        border-radius: 5px;
    }
    nav.hide-on-small a {
        flex-grow:1;
    }

    .hide-on-large {
        display:none;
    }
}



