:root {
--main:#edf2f4;
--secondary: #2b2d42;
--shadow-main: #ef233c;
--shadow-secondary: #b3b6d8;
}

html {
    box-sizing: border-box;
  }

*, *:before, *:after {
    box-sizing: inherit;
  }

html{
    height: 100%;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: var(--main);
    color: var(--text-secondary);
}
    
header{
    background-color: var(--secondary);
    border-radius: 5px;
    margin: auto;
    width: 99%;
}
footer, main {
    margin: auto;
    width: 90%;
}
article {
    margin: auto;
    display: inline-block;
    width: 50%;
}
#intro {
    display:flex;
    align-items: center;
    justify-content: center;
}
p{
    text-align:center;
}

#intro img {
    display: inline-block;
    width: 49%;
}

section {
    background-color: var(--main);
    border: 3px solid var(--secondary);
    box-shadow: 2px 2px var(--shadow-main);
    border-radius: 5px;
    margin: 10px;
}

.project {
    display: inline-block;
    width: 45%;
    margin: 5px;

}
.project img {
    display: block;
    width: 100%;
    margin: auto;
    border-radius: 5px;
}
.project a{
    display: block;
    width: 90%;
    margin: auto;
    text-align: center;
}

h1, h2 {
    margin: 1px;
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    text-shadow: 1px 1.5px var(--shadow-main);
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    transition-duration: 100ms;
}
h1 {
    font-size: 50px;
}

h2 {
    font-size: 45px;
    text-align: center;
    color: var(--text2);
}

nav {
    margin: 5px;
    
}

.btn {
    cursor: pointer;    
    border: 2px solid var(--secondary);
    background-color: var(--main);
    border-radius: 5px;
    box-shadow: 2px 2px var(--shadow-main);
    padding: 3px;
    transition-duration: 25ms;
}
.btn:hover {
    transform: scale(1.01)
}
.btn:active {
    box-shadow: 1px 1px var(--shadow-main);
    transform: translate(2px,2px)
}

a {
    display: inline-block;
    color: var(--secondary);
}

a:link{
    color: var(--secondary);
}
a:visited{
    color: var(--shadow-main)
}
a:hover {
    cursor: pointer;
    color:  purple;
}
a:active{
    color: black;
}

nav {
    width: 90%;
    margin: 5px auto;
    display: flex;
    justify-content: center;
}
nav a{
    margin: 5px;
}
